.footer{
    background: black;
    color: $primary;
    margin-top: 3rem;

    @include breakpoint-up(large){
        margin-top: 7rem;
    }

    /*
        Content of the footer is split into two columns   
    */

    &__content{
        text-align: center;
        @include breakpoint-up(large){
            text-align: left;
            display: flex;
            justify-content: space-between;
        }
    }

    &__first-col{
        padding-bottom: 2.5rem;
        img{
            padding-bottom: 2rem;
        }
    }

    &__menu{

        a {
            color: $primary;
            display: block;
            padding-bottom: 1rem;
            position: relative;
            
            @include breakpoint-up(large){
                display: inline;
                padding-bottom: 0;
                @include menu-hover;

                &:not(:last-child){
                    margin-right: 2rem;
                }
           }            
        }
    }

    &__second-col{
        @include breakpoint-up(large){
            text-align: right;
        }
    }

    /* social icons */
    &__socials{
        padding-bottom: 2rem;
        a{
            @include menu-hover; 
            position: relative;               
            &:not(:last-child){
                margin-right: 1rem;
            }
        }
    }

    &__copyright {
        color: $additional1;
    }
   
}