// Colors
$primary: rgb(255, 255, 255);
$secondary: rgb(0, 0, 0);
$additional1: rgb(140, 140, 140);
$additional2: rgb(105, 105, 105);

// Fonts
$fontSize: 15px;

$fontHeadline: "Josefin Sans", sans-serif;
$fontParagraph: "Alata", sans-serif;

$font-med: 0.9375rem;
