/* 
* ||   Loopstudios Landing Page Main
* ||   Frontendmentor.io challenge
*/
@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
  line-height: 1.3;
  font-size: 0.9375rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h1, h2, h3 {
  margin-top: 0;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

a, a:visited {
  text-decoration: none;
}

p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  opacity: 0.5;
}

img {
  max-width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 69.625rem;
}

.container--pall {
  padding-top: 3rem;
  padding-right: 1.5rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
}

.container--py {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 3rem;
}

.container--pb {
  padding-bottom: 3rem;
}

.sr-text {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  color: transparent;
}

button, .button {
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
  color: black;
  border: 1px solid black;
  padding: 0.5rem 2.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

button:hover, .button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  z-index: 1;
}

.header nav {
  padding: 2.5rem 1.5rem 2.5rem 1.5rem;
  z-index: 3;
  position: relative;
}

.header__menu {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1.5rem;
}

.header__menu a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5625rem;
  color: white;
  text-transform: uppercase;
  display: block;
}

.header__menu a:not(:last-child) {
  margin-bottom: 1.5rem;
}

.header__logo img {
  width: 9rem;
  height: auto;
}

@media (min-width: 64em) {
  .header__logo img {
    width: 12rem;
  }
}

.header__toggle > span {
  width: 26px;
  height: 2px;
  background-color: white;
  display: block;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  opacity: 1;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 7px;
}

.header__links a {
  font-size: 0.9375rem;
  color: white;
  position: relative;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  left: 0.5rem;
  right: 0.5rem;
  bottom: -0.5rem;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.header__links a:hover::before {
  opacity: 1;
}

.hero {
  min-height: 33.9375rem;
  margin-bottom: 3rem;
}

.hero__wrapper {
  position: relative;
  min-height: 40.625rem;
}

.hero__content {
  background-image: url("./../../images/mobile/image-hero.jpg");
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
}

@media (min-width: 64em) {
  .hero__content {
    background-image: url("./../../images/desktop/image-hero.jpg");
  }
}

.hero__text {
  text-transform: uppercase;
  color: white;
  border: 2px solid #ffffff;
  padding: 26px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 25px;
  right: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 64em) {
  .hero__text {
    max-width: 40.625rem;
  }
}

.hero__text > h1 {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
}

@media (min-width: 64em) {
  .hero__text > h1 {
    font-size: 4.5rem;
    line-height: 4.375rem;
  }
}

.introduction {
  text-align: center;
}

@media (min-width: 64em) {
  .introduction {
    text-align: left;
    position: relative;
    min-height: 31.25rem;
  }
}

.introduction__image {
  padding-bottom: 2.5rem;
}

@media (min-width: 64em) {
  .introduction__image {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: 64em) {
  .introduction__text {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 33.8125rem;
    background-color: white;
    padding-top: 6rem;
    padding-left: 6rem;
  }
}

@media (min-width: 64em) {
  .creations__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.creations__header h2 {
  text-align: center;
}

@media (min-width: 64em) {
  .creations__header h2 {
    text-align: left;
    display: inline-block;
    position: relative;
    margin-bottom: 0;
  }
}

.creations .button {
  margin: 1.875rem auto;
}

@media (min-width: 64em) {
  .creations .button {
    margin: 0;
  }
}

.creations__grid {
  margin: 0 1.5rem 0 1.5rem;
}

@media (min-width: 64em) {
  .creations__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
}

.creations__item {
  height: 7.5rem;
  min-width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent));
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
  background-size: cover;
  display: inline-block;
  position: relative;
}

.creations__item:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  .creations__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 23%;
    max-width: 16rem;
    height: 28.125rem;
  }
}

.creations__item h3 {
  color: white;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  margin: 0;
  max-height: 7.6875rem;
}

.creations__item h3::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: pink;
  opacity: 0.5;
}

@media (min-width: 64em) {
  .creations__item h3 {
    font-size: 2rem;
    line-height: 2rem;
    padding-right: 1.5rem;
  }
}

.creations .deep-earth {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/mobile/image-deep-earth.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent), url("./../../images/mobile/image-deep-earth.jpg");
}

@media (min-width: 64em) {
  .creations .deep-earth {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/desktop/image-deep-earth.jpg");
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent), url("./../../images/desktop/image-deep-earth.jpg");
  }
  .creations .deep-earth:hover h3 {
    color: black;
  }
}

.creations .night-arcade {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/mobile/image-night-arcade.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent), url("./../../images/mobile/image-night-arcade.jpg");
}

@media (min-width: 64em) {
  .creations .night-arcade {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/desktop/image-night-arcade.jpg");
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent), url("./../../images/desktop/image-night-arcade.jpg");
  }
  .creations .night-arcade:hover h3 {
    color: black;
  }
}

.creations .soccer-team {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/mobile/image-soccer-team.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent), url("./../../images/mobile/image-soccer-team.jpg");
}

@media (min-width: 64em) {
  .creations .soccer-team {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/desktop/image-soccer-team.jpg");
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent), url("./../../images/desktop/image-soccer-team.jpg");
  }
  .creations .soccer-team:hover h3 {
    color: black;
  }
}

.creations .the-grid {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/mobile/image-grid.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent), url("./../../images/mobile/image-grid.jpg");
}

@media (min-width: 64em) {
  .creations .the-grid {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/desktop/image-grid.jpg");
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent), url("./../../images/desktop/image-grid.jpg");
  }
  .creations .the-grid:hover h3 {
    color: black;
  }
}

.creations .from-up-above {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/mobile/image-from-above.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent), url("./../../images/mobile/image-from-above.jpg");
}

@media (min-width: 64em) {
  .creations .from-up-above {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/desktop/image-from-above.jpg");
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent), url("./../../images/desktop/image-from-above.jpg");
  }
  .creations .from-up-above:hover h3 {
    color: black;
  }
}

.creations .pocket-borealis {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/mobile/image-pocket-borealis.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent), url("./../../images/mobile/image-pocket-borealis.jpg");
}

@media (min-width: 64em) {
  .creations .pocket-borealis {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/desktop/image-pocket-borealis.jpg");
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent), url("./../../images/desktop/image-pocket-borealis.jpg");
  }
  .creations .pocket-borealis:hover h3 {
    color: black;
  }
}

.creations .the-curiosity {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/mobile/image-curiosity.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent), url("./../../images/mobile/image-curiosity.jpg");
}

@media (min-width: 64em) {
  .creations .the-curiosity {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/desktop/image-curiosity.jpg");
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent), url("./../../images/desktop/image-curiosity.jpg");
  }
  .creations .the-curiosity:hover h3 {
    color: black;
  }
}

.creations .make-it-fisheye {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/mobile/image-fisheye.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent), url("./../../images/mobile/image-fisheye.jpg");
}

@media (min-width: 64em) {
  .creations .make-it-fisheye {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("./../../images/desktop/image-fisheye.jpg");
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent), url("./../../images/desktop/image-fisheye.jpg");
  }
  .creations .make-it-fisheye:hover h3 {
    color: black;
  }
}

/*======  General  =============*/
/*# sourceMappingURL=style.css.map */